/*=========================================================================================================
==============================================     1125px      ============================================
=========================================================================================================*/

@media (max-width: 1125px) {
  .header__content-description {
    display: none;
  }
  .header__content-btn {
    display: none;
  }

  .dishes {
    &__content {
      justify-content: space-around;
    }
  }
}

/*=========================================================================================================
==============================================     960px      =============================================
=========================================================================================================*/

@media (max-width: 960px) {
  .slider__inst-link {
    padding: 30px;
  }
}



/*=========================================================================================================
==============================================     680px      =============================================
=========================================================================================================*/

@media (max-width: 680px) {
  .header {
    &__menu {
      &-btn {
        display: block;
      }
      &-list {
        z-index: 2;
        display: none;
        position: absolute;
        background-color: #fff;
        max-width: 300px;
        width: 100%;
        text-align: center;
        top: 95px;
        li {
          display: block;
          margin-bottom: 20px;
          & + li {
            margin-left: 0;
          }
        }
      }
    }
    &__info {
      padding-top: 20px;
      display: block;
      &-phone {
        margin-left: 0;
        padding-left: 0;
        margin-top: 10px;
        position: relative;
        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
  }
}

/*=========================================================================================================
==============================================     960px      =============================================
=========================================================================================================*/

@media (max-width: 960px) {
  .header {
    min-height: 675px;
    margin-bottom: 50px;
    &__top {
      margin-bottom: 50px;
    }
    &__content {
      &-text {
        font-size: 16px;
      }
      &-img {
        height: 325px;
        width: auto;
        img {
          width: 600px;
        }
      }
    }
  }

  .title {
    font-size: 38px;
  }
}

.contact {
  &__form {
    form {
      margin: 0 auto;
      max-width: 600px;
      input,
      button {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    &__car {
      width: 80%;
      bottom: 0;
    }
  }
}

/*=========================================================================================================
==============================================     760px      =============================================
=========================================================================================================*/

@media (max-width: 760px) {
  .footer__inner {
    justify-content: center;
    height: auto;
  }
  .footer__copy,
  .footer__author {
    display: none;
  }
}

/*=========================================================================================================
==============================================     660px      =============================================
=========================================================================================================*/

@media (max-width: 660px) {
  .slider__inner {
    display: none;
  }
}


/*=========================================================================================================
==============================================     500px      =============================================
=========================================================================================================*/

@media (max-width: 500px) {
  .header {
    min-height: 600px;
    &__top {
    }
    &__content {
      &-text {
        font-size: 15px;
      }
      &-img {
        height: 200px;
        img {
          width: 400px;
        }
      }
    }
  }

  .title {
    font-size: 28px;
  }
  .contact__car {
    width: 80%;
    bottom: 0;
  }
  .contact__inner {
    padding: 82px 0 180px;
  }
}


/*=========================================================================================================
==============================================     400px      =============================================
=========================================================================================================*/

@media (max-width: 400px) {
  .header {
    min-height: 660px;
    &__top {
      margin-bottom: 25px;
    }
    &__menu {
      &-list {
        max-width: 90%;
      }
    }
    &__info {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      &-phone,
      .header__info-delivery {
        margin: 0 20px 10px;
      }
    }
  }

  .title {
    line-height: 38px;
  }
  .contact__car {
    display: none;
  }
  .contact__inner {
    padding: 82px 0 100px;
  }
}



/*=========================================================================================================
==============================================     360px      =============================================
=========================================================================================================*/

@media (max-width: 360px) {
  .header {
    min-height: 710px;
  }
  .contact__form button {
    padding: 0 100px 0 28px;
  }
  .contact__form button::after {
    right: 40px;
  }
}



/*=========================================================================================================
==============================================     961px      ============================================
=========================================================================================================*/
@media (min-width: 661px) {
  .slider__inner {
    display: block !important;
  }
}

@media (min-width: 961px) {
  .header__menu-list {
    display: block !important;
  }
}
